.background{
    background-image: url("Debosmita2.jpg");
    background-size: 800px;
}
@viewport{
    zoom: 1.0;
    width: extend-to-zoom;
}
.left{
    display: inline-flex;
    color:  wheat;
    transform: translate(80px);
}
h1{
    font-size: 35px;
}
.hdr{
    color: #a50d1a; 
}
.home{
    padding-left: 340px;
}
li{
    float: left;
    list-style-type: none;
    padding: 12px;
}
.lnk a{
    color: #40ccb8;
    font-size: 20px;
}
.lnk a:hover{
    background-color: #355651;
    font-weight: bold;
}
.right{
    display: inline-flex;
    padding-left: 320px;
}
button{
    font-size: 15px;
    background-color: #8A8589;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    height: 30px;
    padding: 0px 10px;
    margin-left: 0%;
}
input[type="text"]{
    background-color:#ffff;
    width: 210px;
    height: 30px;
    font-size: 16px;
    color: #6B786D;
    border: none;
    border-radius: 5px;
}
button:hover{
    font-weight: bold;
}
.in{
    padding-left: 1290px;
}
.signin:hover{
    background-color: hotpink;
    font-weight: bold;
}
.signin{
    list-style-type: none;
    font-size: 20px;
    color: darkred;
}
.intro{
    text-align: center;
    font-size: 50px;
    margin-top: 100px;
}
.name{
    color: #871C44;
    font-weight: bold;
    font-style: italic;
    padding-left: 120px;
}
.bdy{
    font-style: italic;
}
.aboutme{
    text-align: center;
    color: wheat;
    font-size: 22px;
}
.me{
    text-align: center;
    color: wheat;
    background-color: #6B786D;
    font-size: 30px;
    margin-left: 40px;
    margin-top: 30px;
}
.media{
    display: inline-flex;
    transform: translate(650px);
    margin-top: 110px;
}

   